In [17]:
import utils
import pandas as pd
import dask.dataframe as dd

config_data = utils.read_config_file("file.yaml")
config_data

{'file_type': 'csv',
 'dataset_name': 'testfile',
 'file_name': 'full_spotify_playlist',
 'table_name': 'edsurv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'columns': ['pid', 'artist_name', 'artist_uri', 'track_name', 'track_uri']}

In [18]:
%%time

file_type = config_data['file_type']
source_file = "./src/" + config_data['file_name'] + f'.{file_type}'
df = pd.read_csv(source_file,decimal=config_data['inbound_delimiter'])
df.head()

CPU times: total: 26.2 s
Wall time: 26.5 s

,pid,artist_name,artist_uri,track_name,track_uri
0,35000,Marian Hill,1xHQO9GJIW9OXHxGBISYc5,Lovit,2Ag3LUfgpN6ymEMwDOqKdg
1,35000,Melody Gardot,2P1puQXmG48EVLBrHbum1J,Goodnite,6r1GKz2EZ5DsKGKnWT7uWp
2,35000,The xx,3iOvXCl6edW5Um0fXEBRXy,Islands,2SMn57cBVxoD4TArscpovk
3,35000,Ghost Loft,4fQHCuys7JZvaQzRvB1kPR,Seconds,7603o589huckPbiELnUKgu
4,35000,Wild Belle,4wHZkzWXD9GPr4RQAYjUcv,It's Too Late,4pDMkmUffwBvsuZuQx6lQo

In [21]:
%%time

ddf = dd.read_csv(source_file,decimal=config_data['inbound_delimiter'])
ddf.head()

CPU times: total: 1 s
Wall time: 997 ms

,pid,artist_name,artist_uri,track_name,track_uri
0,35000,Marian Hill,1xHQO9GJIW9OXHxGBISYc5,Lovit,2Ag3LUfgpN6ymEMwDOqKdg
1,35000,Melody Gardot,2P1puQXmG48EVLBrHbum1J,Goodnite,6r1GKz2EZ5DsKGKnWT7uWp
2,35000,The xx,3iOvXCl6edW5Um0fXEBRXy,Islands,2SMn57cBVxoD4TArscpovk
3,35000,Ghost Loft,4fQHCuys7JZvaQzRvB1kPR,Seconds,7603o589huckPbiELnUKgu
4,35000,Wild Belle,4wHZkzWXD9GPr4RQAYjUcv,It's Too Late,4pDMkmUffwBvsuZuQx6lQo

In [22]:
if utils.col_header_val(df,config_data):
    print("col validation passed")
else:
    print("validation failed")

column name and column length validation passed
col validation passed